html, body {
  height: 100%;
  margin: 0;
}

body {
  align-items: center;
  background-color: #1d1f20;
  display: flex;
  height: 100%;
  justify-content: center;
}

.logo {
  position:fixed;
  left:0;
  top:0;
  width: 100;
  height: 75px;
  margin-left: 40px;
  margin-top: 40px;
  opacity: 0.7;
}

h1 {
  align-items: center;
  display: flex;
  font-family: serif;
  font-size: 5.22vw;
  letter-spacing: 0.03em;
}

span {
  font-size: 12vw;
  display: inline-block;
  padding: 0 24px;
  vertical-align: middle;
}

.header {
  background-image: -webkit-linear-gradient(left, white 25%, #fde071 37.5%, #ef9671, #996a6e 62.5%, white 75%);
  /* background-image: linear-gradient(90deg, rgba(91, 91, 91, 0.62) 25%, #252525 38%, #606060, #aaaaaa 63%, rgba(91, 91, 91, 0.62) 75%); */
  background-image: linear-gradient(90deg, rgba(91, 91, 91, 0.62) 25%, #00f102 38%, #ebff00, #70cc59 63%, rgba(91, 91, 91, 0.62) 75%);
  background-position: right center;
  background-size: 400% auto;
  -webkit-background-clip: text;
  background-clip: text;
  color: white;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  transition: color 200ms linear;
}

.header:hover {
  background-position: left center;
  color: #39d020;
  transition: background-position 2.5s ease-out;
}

/* GREEN/YELLOW gradient --- (90deg, rgba(91, 91, 91, 0.62) 25%, #00f102 38%, #ebff00, #70cc59 63%, rgba(91, 91, 91, 0.62) 75%) */
/* Grey/White gradient --- (90deg, rgba(91, 91, 91, 0.62) 25%, #252525 38%, #606060, #aaaaaa 63%, rgba(91, 91, 91, 0.62) 75%); */
