/* #bgpic {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;

} */
body::before {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: url(treebackground.jpg) no-repeat center center fixed;
  background-size: cover;
  opacity: .7;
  content: '';
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  height: 80px;
  background-color: rgba(105, 105, 105, 0.80);
  padding: 0px 20px 0px 0px;
  margin-top: 0;
}

a:link, a:visited, a:active {
  color: white;
  text-shadow: 0px 3px black;
  text-decoration: none;
  /* opacity: 0.8; */
}
a:hover{
  color: rgb(161, 161, 161);
  opacity: 1.0;
}

ul{
  margin-right: 20px;
  display: flex;
  list-style: none;
  list-style-type: none;
}

li{
  padding: 20px 25px 25px 0px;
  font-size: 2em;
  color: white;
}

#dropbtn {
    color: white;
    text-shadow: none;
    text-decoration: none;
    background-color: transparent;
    border:none;
    /* opacity: 0.8; */
    cursor: pointer;
    list-style-type: none;
}
#dropbtn:hover {
  color: rgb(23, 255, 73);

}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    padding-bottom: 50px;
    position: absolute;
    z-index: 1;
    font-size: .5em;
}

.dropdown-content a {
    padding: 0px 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
  background-color: rgba(#e2e2e2, 0.2)
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: none;
    text-decoration: none;
}
.dropicons {
  filter: invert(100%);
  padding: 0px;

}

.logo {
  position:fixed;
  left:0;
  top:0;
  width: 50px ;
  height: 50px;
  margin-left: 40px;
  margin-top: 15px;
  filter: invert(1);

}

.name {
  color:white;
  font-size: 150px;
  padding-top: 50px;
  text-align: center;
  opacity: 0.9;
  text-shadow: 0px 3px black;
}

.title2 {
  color: white;
  font-size: 50px;
  padding: 0px 0px 20px 0px;
  text-align: center;
  opacity: 0.8;
  text-shadow: 0px 3px black;

}

.icons {
  text-align: center;
  position: bottom;
  bottom: 0px;
  padding: 0px 140px 50px 140px;
  left: 0;
  width: 100%;
}

.socialIcons img {
  height: 50px;
  width: 50px;
  /* opacity: 0.8; */
  filter: alpha(opacity=40);

}

.socialIcons2 img {
  height: 60px;
  width: 60px;
  /* opacity: 0.8; */
  filter: alpha(opacity=40);

}

.icons img {
  position: relative;
  display: inline;
  margin-right: 0 auto;
  margin-left: 0 auto;
  filter: invert(100%);

}

.socialIcons img:hover {
  filter: invert(100%);
  opacity: 1;
}

.socialIcons2 img:hover {
  filter: invert(100%);
  opacity: 1;
}

footer {
background-color: none;
font-size: 15px;
font-weight: bold;
color:white;
bottom: 20px;
width: 100%;
text-align: center;
opacity: 0.8;
text-shadow: 0px 3px black;
position: bottom;
}
