

@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}
}

@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}


/* font.google.com  */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900');
*{
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
    height: 100%;
}

.logo {
  position:fixed;
  left:0;
  top:0;
  opacity: 0.4;
  width: 100;
  height: 75px;
  margin-left: 10px;
  margin-top: 10px;

}

body{
  background-color: rgb(170, 170, 170);
  background-size: cover;
  /* background: linear-gradient(-45deg, rgb(87, 87, 87), rgb(43, 43, 43)); */
  /* opacity: 0.8; */
}



header {
  background: none;
  padding: 20px;
}



#play {
  font-size: 80px;
  color: white;
}

.yourMove {
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding: 30px 0px 0px 0px;
}

h1 {
  color: white;
  text-align: center;
}

.scoreboard {
  margin: 20px auto;
  border: white;
  border-style: solid;
  border-radius: 4px;
  text-align: center;
  width: 200px;
  color: white;
  font-size: 45px;
  padding: 15px 20px;
  position:relative;
}

#user-label {
  display: block;
  float: left;
  color: black;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: green;
  font-size: 75px;
  padding-left: 25%;
  opacity: 0.5;
}

#computer-label {
  display: block;
  float: right;
  color: black;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: red;
  font-size: 75px;
  padding-right: 25%;
  opacity: 0.5;
}

.result {
  color: white;
  font-size: 40px;
  text-align: center;
}

.choices {
  margin: 50px 0;
  text-align: center;
}

.choice {
  border: 4px solid white;
  border-radius: 50%;
  padding: 10px;
  margin: 0px 15px;
  display: inline-block;
  transition: all 0.3s ease;
}

.choice:hover {
  cursor: pointer;
  background: rgb(34, 34, 34)
}

.green-glow {
  border: 3px solid rgb(13, 255, 0);
  box-shadow: 0 0 10px #31b43a
}

.red-glow{
  border: 3px solid rgb(255, 0, 0);
  box-shadow: 0 0 10px #fc121b
}

.yellow-glow{
  border: 3px solid rgb(250, 255, 0);
  box-shadow: 0 0 10px #25292b
}
